</main>
<footer>
    <div class="container">
        <p>想要了解更多：发送邮件到 email ybynothing <a href="javaScript:;">ybynothing@163.com</a></p>
        <div class="form-group">
            <p class="col-xs-4"> Copyright&copy;2016 Lovers DC. 保留所有权利 </p>
            <ul class="col-xs-offset-3">
                <li><a href="javaScript:;">隐私政策</a></li>
                <li><a href="javaScript:;">使用条款</a></li>
                <li><a href="javaScript:;">销售政策</a></li>
                <li><a href="javaScript:;">法律信息</a></li>
                <li><a href="javaScript:;">网站地图</a></li>
            </ul>
        </div>
        <p> 豫ICP备 16039893 </p>
    </div>
</footer>
</body>
</html>



