<% include header %>
<form class="form-horizontal" method="post">
  <div class="container">
    <div class="form-group">
      <img src="/images/bg.png" alt="logo" class="col-sm-offset-2" id='homeLogo'>
    </div>
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-4">
        <label> 用户名：</label>
        <input type="text" class="form-control" name="name" placeholder="请输入用户名">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-4">
        
       <label> 密 码： </label> <input type="password" class="form-control" name="password" placeholder="请输入密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" class="btn btn-success"> 立即登录 </button>
      </div>
    </div>
  </div>
</form>

