<div class="container">
    <form action="/search" method="GET" class="form-group search">
        <input type="text" name="keyword" placeholder="请输入关键字  SEARCH" class=" col-md-offset-2 col-md-7" />
        <input type="submit" class="col-md-1" value="搜索">
    </form>
</div>